<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Query1Servlet</servlet-name>
        <servlet-class>Query1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query2Servlet</servlet-name>
        <servlet-class>Query2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query3Servlet</servlet-name>
        <servlet-class>Query3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query4Servlet</servlet-name>
        <servlet-class>Query4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query5Servlet</servlet-name>
        <servlet-class>Query5Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query6Servlet</servlet-name>
        <servlet-class>Query6Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query7Servlet</servlet-name>
        <servlet-class>Query7Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query8Servlet</servlet-name>
        <servlet-class>Query8Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Query1Servlet</servlet-name>
        <url-pattern>/Query1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query2Servlet</servlet-name>
        <url-pattern>/Query2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query3Servlet</servlet-name>
        <url-pattern>/Query3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query4Servlet</servlet-name>
        <url-pattern>/Query4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query5Servlet</servlet-name>
        <url-pattern>/Query5Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query6Servlet</servlet-name>
        <url-pattern>/Query6Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query7Servlet</servlet-name>
        <url-pattern>/Query7Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query8Servlet</servlet-name>
        <url-pattern>/Query8Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
